*{
  margin: 0;
  padding: 0;
}

header{
  background-color:#CACFD2;
  width: 100%;/*ancho del 100% de mi body*/
  height: 130px; /* tamaño de alto de mi header , con vh lo fijamo en tamaño segun la pantalla*/
}

.title{
  color:#334CFF;
  font-family:Helvetica;
  padding: 40px;
  width: 65%;
  text-align:center;
  font-size: 2.5em;
  text-decoration:underline;
}
.logo{
width: 150px;
float: left;
}

.header-button{
position: relative;
top: -70px;
}
.button{
  color: #fff;
  background: #7f8c8d;
  display:inline-block;
  font-size: 1.25em;
  margin: 10px;
  padding: 15px ;
  text-align: center;
  width: 120px;
  text-decoration: none;
  box-shadow: 0px 3px 0px #373c3c;
  float: right;
  border-radius: 7px;
  -webkit-transition:all 500ms ease;
  -o-transition:all 500ms ease;
  transition: all 500ms ease;

}
.button span{
  margin-right: 10px;
}
.button:hover{
  box-shadow: 0px 0px 0px;
  padding-top: 7px;
}


/*----agregar datos--*/
.form{
  width: 700px;
  height: 400px;
  background:#24303c;
  padding: 50px ;/*disminuye el margen del cuadro*/
  margin: 150px;
  margin-top: 10px ;
  border-radius: 4px;
  font-family: 'calibri';
  color:white;
  box-shadow: 7px 13px 37px #000;
}
.form-register{
  position: relative;
  top: -30px;
}

.form-register h3{
  margin-top: -5px;
  font-size: 18px;
  margin-bottom: 3px;
}
.controls{
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;

}
.form-register p{
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register .botons{
  width: 100%;
  background:#1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 5px 10px;
  font-size: 16px;
}
