
footer{
    background-color: #beb1af;
    height: 150px;
    border-top:10px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.social {
 text-align:left;
 height: 1400px;
 position: fixed;
 right:0;
 top: 260px;
 flex-wrap:wrap;
 z-index: 2000;
}

.social ul {
 list-style: none;
}
.social ul li a {
 display: block;
 color:#fff;
 background: #000;
 text-align:center;
 font-style: oblique;
 font-size: 0%;
 padding: 0px 0px;
 text-decoration: none;
 -webkit-transition:all 500ms ease;
 -o-transition:all 500ms ease;
 transition:all 500ms ease;
}
.social ul li .icon-facebook {background:#fff  ;}
.social ul li .icon-instagram {background: #fff;}
.social ul li .icon-whatsapp {background-color:#fff;}
.social ul li .icon-mail { background: #fff  ;}

.social ul li a:hover {
 background: #A6ACAF;
}
.social img{
 padding: 0%;
 margin:0;
 border: 0.4px solid black;
 width: 35px;
 height: 35px;
}
.imge{
    margin:2%  1% ;
    display:block;
    align-content: center;
    justify-content:center;
    top: -100%;
}

.imge .img1{
  width:5.3%;
 }
.imge .img2{
  width: 5.3%;
 }
