*{
  margin: 0;
  padding: 0;
}

header{
  background-color:#CACFD2;
  width: 100%;/*ancho del 100% de mi body*/
  height: 130px; /* tamaño de alto de mi header , con vh lo fijamo en tamaño segun la pantalla*/
}

.title{
  color:#334CFF;
  font-family:Helvetica;
  padding: 40px;
  width: 65%;
  text-align:center;
  font-size: 2.5em;
  text-decoration:underline;
}
.logo{
width: 150px;
float: left;
}

.header-button{
position: relative;
top: -70px;
}
.button{
  color: #fff;
  background: #7f8c8d;
  display:inline-block;
  font-size: 1.25em;
  margin: 10px;
  padding: 15px ;
  text-align: center;
  width: 120px;
  text-decoration: none;
  box-shadow: 0px 3px 0px #373c3c;
  float: right;
  border-radius: 7px;
  -webkit-transition:all 500ms ease;
  -o-transition:all 500ms ease;
  transition: all 500ms ease;

}
.button span{
  margin-right: 10px;
}
.button:hover{
  box-shadow: 0px 0px 0px;
  padding-top: 7px;
}

/*---LISTA----*/

.table-container{
  max-width: 1100px;
  margin: 1rem auto;

}
.table-cebra{
  border:solid 1px #000709;
  border-spacing: 0;
}
.table-cebra thead tr{
  text-align: center;
  width: 50px;
  height: 50px;
  background: #CACFD2;
  color:white;
}
.fecha{
  width: 100px;
}
.table-cebra th,
.table-cebra td{
  border-right: 1px solid #000709;
  min-width: 150px;
}
.table-cebra th:last-child,
.table-cebra td:last-child{
  border-right: 0;
}
.table-cebra td{
  border-bottom: 1px solid #000709;

}
.table-cebra tr{
  background: white;

}
.table-cebra tbody tr{
  background: white;
}
.table-cebra tbody tr:nth-child(2n){
  background: #f2f2f2;
}
.table-cebra tr{
  border-right: 1px solid #000709;
  min-width: 150px;
  padding: 0.5em;
  text-align: left;
}

.btn{
  color: #fff;
  background: #7f8c8d;
  display:inline-block;
  font-size: 1em;
  margin: 10px;
  padding: 15px ;
  text-align: center;
  width: 60px;
  text-decoration: none;
  border-radius: 7px;

}
.tm{
    width: 100px;

}
.green{
  background: green;
}
.red{
  background: red;
}
