<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org" xmnls:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: head"></head>
  <body>

  <nav th:replace="fragments :: nav"></nav>

  <div class="container" >
      <h1 th:text="${titulo}"></h1>
      <form id="formulario" class="needs-validation" th:action="@{/seguimiento/__${action}__}" method="POST"
            th:object="${seguimiento}" autocomplete="off" novalidate>
          <input type="hidden" th:field="*{id}"/>
          <div class="form-floating mb-3 col-xl-6">
              <div class="input-group">
                  <span class="input-group-text">Comentarios</span>
                 <textarea  class="form-control" aria-label="comentarios" id="comentario" th:field="*{comentario}"></textarea>
                  <div class="invalid-feedback">Debe ingresar un comentario</div>

              </div>
              <!--<input id="comentario" class="form-control" type="text" placeholder="Comentarios" th:field="*{comentario}" required/>
              <label for="comentario">Comentario</label>
              <div class="invalid-feedback">Debe ingresar un comentario</div>-->
          </div>
          <div class="form-floating mb-3 col-xl-6">
              <input id="fecha" class="form-control" type="date" placeholder="Fecha seguimiento" th:field="*{fecha}" required/>
              <label for="fecha">Fecha seguimiento</label>
              <div class="invalid-feedback">Debe ingresar una fecha</div>
              <div class="valid-feedback">OK</div>
          </div>
          <div class="form-floating mb-3 col-xl-6">
              <select id="paciente" class="form-select" aria-label="Elegir paciente" th:field="*{paciente}">
                  <option value="">Elija un paciente</option>
                  <option th:each="p : ${listaPaciente}" th:text="|${p.nombre} ${p.apellido}|" th:value="${p.dni}"></option>


              </select>
              <div class="invalid-feedback">Debe ingresar un paciente</div>

              <label for="paciente">Paciente</label>
          </div>

          <div class="form-floating mb-3 col-xl-6">
              <select id="medico" class="form-select" aria-label="Elegir medico" th:field="*{medico}">
                  <option value="">Elija un medico</option>
                  <option th:each="u : ${listaMedico}" th:text="|${u.nombre} ${u.apellido}|" th:value="${u.matricula}"></option>


              </select>
              <div class="invalid-feedback">Debe ingresar un medico</div>

              <label for="medico">Medico</label>
          </div>


          <div class="row">
              <div class="col-xl-3">
                  <button class="btn btn-success" type="submit"
                          th:text="${action == 'guardar'} ? 'Crear seguimiento' : 'Guardar cambios'"></button>
              </div>
          </div>
      </form>


  </div>
  <script th:replace="fragments :: validate"></script>
  <div th:replace="fragments :: bootstrapS"></div>

  </body>
</html>
