<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<div class="container" >
<nav th:replace="fragments :: nav"></nav>


    <h1 th:text="${titulo}"></h1>
    <hr>
    <form id="formulario" class="needs-validation" th:action="@{/medico/__${action}__}" method="POST"
          th:object="${medico}" autocomplete="off" novalidate>
          <div class="form-floating mb-3 col-xl-6">
            <input id="matricula" class="form-control" type="number" th:field="*{matricula}" required/>
            <label for="matricula">Matrícula</label>
            <div class="invalid-feedback">La matrícula es obligatoria</div>
        </div>  

        <div class="form-floating mb-3 col-xl-6">
            <input id="nombre" class="form-control" type="text" placeholder="Ingrese nombre" th:field="*{nombre}" required/>
            <label for="nombre">Nombre</label>
            <div class="invalid-feedback">El nombre es obligatorio</div>
        </div>
           <div class="form-floating mb-3 col-xl-6">
            <input id="apellido" class="form-control" type="text" placeholder="Ingrese apellido" th:field="*{apellido}" required/>
            <label for="apellido">Apellido</label>
            <div class="invalid-feedback">El apellido es obligatorio</div>
        </div>
      
       

        <br>
        <h2>Crear usuario para médico</h2>
        <hr>
        <div class="form-floating mb-3 col-xl-6">
            <input th:object="${usuario}" id="username" class="form-control" type="text" placeholder="Ingrese nombre de usuario" th:field="*{username}" required/>
            <label for="username">Nombre de usuario</label>
            <div class="invalid-feedback">El usuario es obligatorio</div>
        </div>
        <div class="form-floating mb-3 col-xl-6">
            <input th:object="${usuario}" id="password" class="form-control" type="password" placeholder="Ingrese password" th:field="*{password}" required/>
            <label for="password">Password</label>
            <div class="invalid-feedback">El password es obligatorio</div>
        </div>
        <div class="form-floating mb-3 col-xl-6">
            <input th:object="${usuario}" id="mail" class="form-control" type="email" placeholder="Ingrese correo" th:field="*{mail}" required/>
            <label for="mail">E-Mail</label>

        </div>
        <div class="form-floating mb-3 col-xl-6">
            <select th:object="${usuario}" id="rol" class="form-select" aria-label="Elegir rol" th:field="*{rol}">
                <option value="">Elija un rol</option>
                <option th:each="rol : ${listaRol}" th:text="${rol.nombre}" th:value="${rol.id}"></option>


            </select>
            <label for="rol">Rol</label>
        </div>
            <br>

        <div class="row">
            <div class="col-xl-3">
                <button class="btn btn-success" type="submit"
                        th:text="${action == 'guardar'} ? 'Guardar Medico' : 'Guardar cambios'"></button>
            </div>
        </div>

    </form>








    <footer th:replace="fragments :: footer" ></footer>
</div>
<div th:replace="fragments :: bootstrapS"></div>

</body>
</html>
