<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmnls:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: nav"></nav>

<div class="container" >
    <h1 th:text="${titulo}"></h1>

    <form id="formulario" class="needs-validation" th:action="@{/turno/__${action}__}" method="POST"
          th:object="${turno}" autocomplete="off" novalidate>
        <p>Los turnos no se pueden dar de 22 a 07</p>
        <p>Revisar bien la fecha, no elegir una anterior a la actual</p>

        <input type="hidden" th:field="*{id}"/>
        <div class="form-floating mb-3 col-xl-6">
            <input id="fecha" class="form-control" type="date" placeholder="Fecha de visita" th:field="*{fecha}" required/>
            <label for="fecha">Fecha de visita</label>
            <div class="invalid-feedback">La fecha es obligatoria</div>
        </div>
        <div class="form-floating mb-3 col-xl-6">
            <input id="hora" class="form-control" type="time" placeholder="Hora de visita" th:field="*{hora}" required/>
            <label for="hora">Hora de visita</label>
            <div class="invalid-feedback">La hora es obligatoria</div>
        </div>
        <div class="form-floating mb-3 col-xl-6">
            <select id="paciente" class="form-select" aria-label="Elegir paciente" th:field="*{paciente}">
                <option value="">Elija un paciente</option>
                <option th:each="p : ${paciente}" th:text="|${p.nombre} ${p.apellido}|" th:value="${p.dni}"></option>


            </select>
            <div class="invalid-feedback">Debe elegir un paciente</div>
            <label for="paciente">Paciente</label>
        </div>

           <!-- <div class="form-floating mb-3 col-xl-6">
                <select id="usuario" class="form-select" aria-label="Elegir usuario" th:field="*{usuario}">
                    <option value="">Elija un usuario</option>
                    <option th:each="u : ${usuario}" th:text="${p.username}" th:value="${p.id}"></option>


                </select>
                <label for="usuario">Usuario</label>-->
        <div class="row">
            <div class="col-xl-3">
                <button class="btn btn-success" type="submit"
                        th:text="${action == 'guardar'} ? 'Crear turno' : 'Guardar cambios'"></button>
            </div>
        </div>
    </form>


</div>



<!-- <img th:src="@{/img/logo.png}"> -->


<script th:replace="fragments :: validate"></script>
<div th:replace="fragments :: bootstrapS"></div>
</body>
</html>