<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/css/crear_paciente.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Formulario de paciente</title>
  </head>
  <body>
    <header>
      <img class=logo th:src="@{/img/logo.png}" alt="logo">
    <h2 class="title"> SEGUIMIENTO DE PACIENTES </h2>
  <section class="header-button">
      <a th:href="@{/seguimiento}" class="button"><span class="fab fa-readme"></span>ficha</a>
  <a th:href="@{/seguimiento}" class="button"><span class="fas fa-edit"></span>listas</a>
    <a th:href="@{/}" class="button"><span class="fas fa-home"></span>Inicio</a>
  </section>

</header>
<div class="form">


      <section class="form-register">
        <form th:action="@{/seguimiento/__${action}__}" th:object="${seguimiento}" method="POST">
      
      <input type="hidden" id="id" th:field="*{id}"><!--Se coloca "hidden" porque el id se asigna automáticamente, no tenemos que ingresarlo -->
      <h3>Ingrese comentario</h3>
      <input th:field="*{comentario}" class="controls" type="text" id="comentario" placeholder="Ingrese el comentario" required>
      <h3>Ingrese fecha</h3>
      <input class="controls" type="date" th:field="*{fecha}" id="fecha" placeholder="Ingrese la fecha" required>
      <h3>ingrese usuario </h3>
     <!-- <input class="controls" type="text" name="usuario" id="usuario" placeholder=" usuario" required> No va, es redundante con medico-->

            <div class="form-floating mb-3 col-xl-6">
                <select id="medico" class="form-select" aria-label="Elegir medico" th:field="*{medico}">
                    <option value="">Elija un usuario</option>
                    <option th:each="u : ${listaMedico}" th:text="${u.nombre}" th:value="${u.matricula}"></option>


                </select>
                <label for="medico">Medico</label>
            </div>
            <div class="form-floating mb-3 col-xl-6">
                <select id="paciente" class="form-select" aria-label="Elegir paciente" th:field="*{paciente}">
                    <option value="">Elija un paciente</option>
                    <option th:each="p : ${listaPaciente}" th:text="${p.nombre}" th:value="${p.dni}"></option>


                </select>
                <label for="medico">Medico</label>
            </div>
          

                  <button class="btn btn-success" type="submit"
                        th:text="${action == 'guardar'} ? 'Crear seguimiento' : 'Guardar cambios'"></button>
    </form>
    </section>
    </div>
  </body>
</html>
