<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
  <body>
  <div class="container" >
    <nav th:replace="fragments :: nav"></nav>


    <h1 th:text="${titulo}"></h1>
    <hr>
    <form id="formulario" class="needs-validation" th:action="@{/rol/__${action}__}" method="POST"
          th:object="${rol}" autocomplete="off" novalidate>
      <input type="hidden" th:field="*{id}">
      <div class="form-floating mb-3 col-xl-6">
        <input id="nombre" class="form-control" type="text" th:field="*{nombre}" required/>
        <label for="nombre">Rol</label>
        <div class="invalid-feedback">Debe ingresar el nombre del rol</div>
      </div>
      <br>
      <div class="row">
        <div class="col-xl-3">
          <button class="btn btn-success" type="submit"
                  th:text="${action == 'guardar'} ? 'Guardar Rol' : 'Guardar cambios'"></button>
        </div>
      </div>

    </form>

  </div>
  <script th:replace="fragments :: validate"></script>
    <div th:replace="fragments :: bootstrapS"></div>

</body>
</html>
