<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/css/crear_paciente.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Formulario de paciente</title>
  </head>
  <body>
    <header>
      <img class=logo th:src="@{img/logo.png}" alt="logo">
    <h2 class="title"> REGISTRO PACIENTES </h2>
  <section class="header-button">
      <a th:href="@{/paciente}" class="button"><span class="fab fa-readme"></span>Lista</a>
  <a th:href="@{/paciente/crear}" class="button"><span class="fas fa-edit"></span>Agregar</a>
    <a th:href="@{/}" class="button"><span class="fas fa-home"></span>Inicio</a>
  </section>

</header>
<div class="form">


      <section class="form-register">

      <h3>Ingrese el dni del paciente</h3>
      <input class="controls" type="number" name="dni" id="dni" placeholder="Ingrese el dni del paciente" required>
      <h3>Ingrese el nombre del paciente</h3>
      <input class="controls" type="text" name="nombre" id="nombre" placeholder="Ingrese el nombre del paciente" required>
      <h3>Ingrese el Apellido del paciente</h3>
      <input class="controls" type="text" name="apellido" id="apellido" placeholder="Ingrese el Apellido del paciente" required>
      <h3>Ingrese la edad de paciente</h3>
      <input class="controls" type="number" name="edad" id="fn" placeholder="Ingrese la edad del paciente" required>
      <h3>Ingrese fecha de nacimiento paciente</h3>
      <input class="controls" type="date" name="Fecha de nacimiento" id="fn" placeholder="Ingrese fecha de nacimiiento paciente" required>


  <input class="botons"  type="submit" value="CREAR">

    </section>
    </div>
  </body>
</html>
