<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/css/crear_roles.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Formulario de roles</title>
  </head>
  <body>
    <header>
      <img class=logo th:src="@{/img/logo.png}" alt="logo">
    <h2 class="title" th:text="${titulo}">  </h2>
  <section class="header-button">
      <a th:href="@{/rol}" class="button"><span class="fab fa-readme"></span>Lista</a>
  <a th:href="@{/rol/crear}" class="button"><span class="fas fa-edit"></span>Roles</a>
    <a th:href="@{/}" class="button"><span class="fas fa-home"></span>Inicio</a>
  </section>

</header>
<div class="form">
  <section class="form-register">

  <form th:action="@{/rol/crear}" method="POST" th:object="*{rol}">
  <input type="hidden" th:field="*{id}">
  <h3>Ingrese nombre del rol</h3>
  <input  class="controls" type="text" th:field="*{nombre}" id="nombre" placeholder="nombre" required>

           
            <button type="submit" th:text="${action=='guardar'}? 'Crear rol':'Modificar Rol'" ></button> 
  </form>         
</section>
</div>
</body>
</html>
