<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<div class="container" >
<nav th:replace="fragments :: nav"></nav>


    <h1 th:text="${titulo}"></h1>
    <hr>
    <form id="formulario" class="needs-validation" th:action="@{/usuario/__${action}__}" method="POST"
          th:object="${usuario}" autocomplete="off" novalidate>
        <input type="hidden" th:field="*{id}"/>
        <div class="form-floating mb-3 col-xl-6">
            <input id="username" class="form-control" type="text" placeholder="Ingrese nombre de usuario" th:field="*{username}" required/>
            <label for="username">Nombre de usuario</label>
            <div class="invalid-feedback">El usuario es obligatorio</div>
        </div>
        <div class="form-floating mb-3 col-xl-6">
            <input id="password" class="form-control" type="password" placeholder="Ingrese password" th:field="*{password}" required/>
            <label for="password">Password</label>
            <div class="invalid-feedback">El password es obligatorio</div>
        </div>
        <div class="form-floating mb-3 col-xl-6">
            <input id="mail" class="form-control" type="email" placeholder="Ingrese correo" th:field="*{mail}" required/>
            <label for="mail">E-Mail</label>

        </div>
        <div class="form-floating mb-3 col-xl-6">
            <select id="rol" class="form-select" aria-label="Elegir rol" th:field="*{rol}">
                <option value="">Elija un rol</option>
                <option th:each="rol : ${listaRol}" th:text="${rol.nombre}" th:value="${rol.id}"></option>


            </select>
            <label for="rol">Rol</label>
        <br>
        <div class="row">
            <div class="col-xl-3">
                <button class="btn btn-success" type="submit"
                        th:text="${action == 'guardar'} ? 'Crear Usuario' : 'Guardar cambios'"></button>
            </div>
        </div>
        </div>
    </form>


</div>



<!-- <img th:src="@{/img/logo.png}"> -->



<div th:replace="fragments :: bootstrapS"></div>
</body>
</html>