<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
  <body>
    <div class="container">
    <header>
        <nav th:replace="fragments :: nav"></nav>
    </header>
        <h1 th:text="${titulo}"></h1>
        <hr>
        <form id="formulario" class="needs-validation" th:action="@{/paciente/__${action}__}" method="POST"
              th:object="${paciente}" autocomplete="off" novalidate>
            <div class="form-floating mb-3 col-xl-6">
                <input id="dni" class="form-control" type="number" th:field="*{dni}" required/>
                <label for="dni">D.N.I</label>
                <div class="invalid-feedback">Debe ingresar un dni</div>
            </div>

            <div class="form-floating mb-3 col-xl-6">
                <input id="nombre" class="form-control" type="text" placeholder="Ingrese nombre" th:field="*{nombre}" required/>
                <label for="nombre">Nombre</label>
                <div class="invalid-feedback">Debe ingresar el nombre</div>
            </div>
            <div class="form-floating mb-3 col-xl-6">
                <input id="apellido" class="form-control" type="text" placeholder="Ingrese apellido" th:field="*{apellido}" required/>
                <label for="apellido">Apellido</label>
                <div class="invalid-feedback">El apellido es obligatorio</div>
            </div>
            <div class="form-floating mb-3 col-xl-6">
                <input id="nacimiento" class="form-control" type="date" placeholder="Ingrese Fec. Nac." th:field="*{nacimiento}" required/>
                <label for="nacimiento">Fecha Nacimiento</label>
                <div class="invalid-feedback">Debe ingresar la fecha de nacimiento</div>
            </div>

            <br>
            <div class="row">
                <div class="col-xl-3">
                    <button class="btn btn-success" type="submit"
                            th:text="${action == 'guardar'} ? 'Guardar Paciente' : 'Guardar cambios'"></button>
                </div>
            </div>

        </form>

      
     <!-- <section class="form-register">
       <form th:action="@{/paciente/__${action}__}" method="POST" th:object="${paciente}">
      <h3>Ingrese el dni del paciente</h3>
      <input th:field="*{dni}" class="controls" type="number" id="dni" placeholder="Ingrese el dni del paciente" required/>
      <h3>Ingrese el nombre del paciente</h3>
      <input th:field="*{nombre}" class="controls" type="text" id="nombre" placeholder="Ingrese el nombre del paciente" required>
      <h3>Ingrese el Apellido del paciente</h3>
      <input th:field="*{apellido}" class="controls" type="text" name="apellido" id="apellido" placeholder="Ingrese el Apellido del paciente" required>
      <h3>Ingrese la edad de paciente</h3>
      <h3>Ingrese fecha de nacimiento paciente</h3>
      <input th:field="*{nacimiento}" class="controls" type="date" name="Fecha de nacimiento" id="fn" placeholder="Ingrese fecha de nacimiiento paciente" required>


  <button class="botons"  type="submit" th:text="${action=='guardar'} ? 'Ingresar Paciente': 'Modificar Paciente'"> </button>
        </form>
    </section>
        
    </div>-->

    </div>
  </body>
</html>
