<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="crear_paciente.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Formulario de paciente</title>
  </head>
  <body>
    <header>
      <img class=logo src="img/logo.png" alt="logo">
    <h2 class="title"> SEGUIMIENTO DE PACIENTES </h2>
  <section class="header-button">
      <a href="lista_seguimiento.html" class="button"><span class="fab fa-readme"></span>ficha</a>
  <a href="lista_pacientes.html" class="button"><span class="fas fa-edit"></span>listas</a>
    <a href="index.html" class="button"><span class="fas fa-home"></span>Inicio</a>
  </section>

</header>
<div class="form">


      <section class="form-register">

      <h3>Ingrese el id</h3>
      <input class="controls" type="number" name="id" id="id" placeholder="Ingrese el id" required>
      <h3>Ingrese comentario</h3>
      <input class="controls" type="text" name="comentario" id="comentario" placeholder="Ingrese el comentario" required>
      <h3>Ingrese fecha</h3>
      <input class="controls" type="data" name="fecha" id="fecha" placeholder="Ingrese la fecha" required>
      <h3>ingrese usuario </h3>
      <input class="controls" type="text" name="usuario" id="usuario" placeholder=" usuario" required>
      <h3>Ingrese nombre del doctor</h3>
      <input class="controls" type="text" name="medico" id="fn" placeholder="Ingrese nombre del doctor" required>


  <input class="botons"  type="submit" value="CREAR">

    </section>
    </div>
  </body>
</html>
