<!DOCTYPE html>
<html>
	<head>
		<title>Proyecto EGG</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="css/egg.css">
		 <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://kit.fontawesome.com/0f408f8349.js" crossorigin="anonymous"></script>

	</head>
	<body>
		<header>

    <div class="encabezado">
      <div class="logo">
        <img src="imagenes/logo.png" alt="LOGO">

        <h1></h1>
 <ul class="menu">
          
          <li><a href="#" class="enlace fas fa-question-circle">Institucion </a></li>
          <li><a href="#" class="enlace fas fa-address-book">Contacto</a></li>
          <li><a href="#" class="enlace fas fa-map-marked-alt">Ubicacion </a></li>
           <li><a href="login.html" class="enlace fas fa-address-book">Login </a></li>
        </ul>
     </div>
   </div>	


	</header>


		<main>
			<div class="Banner" >
				<h6>Institucion</h6>
				  <p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				   <h6>Talleres Recreativos</h6>
      <p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <h6>Nuestros Objetivos</h6>
        <p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

      <p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
               
                
			   </div>



	<section class="galeria">
		<h5>Nuestros Espacios</h5>
<div class="foto">
    <img src="imagenes/talleres.jpeg">
</div>
<div class="foto">
  <img src="imagenes/patio.jpeg">
</div>
<div class="foto">
 <img src="imagenes/biblio.jpeg">
</div>
<div class="foto">
   <img src="imagenes/comedor.jpeg">
  
    </div>
        </section>


     <div class="social">
        <ul>
         <li><a href="#" target="_blank" class="icon-facebook"><img src="imagenes/face.png" alt="faceboock"></a></li>
         <li><a href="https://api.whatsapp.com/send?phone=+5492616667240" target="_blank" class="icon-whatsapp"><img src="imagenes/what.png" alt="whatsapp"></a></li>
         <li><a href="#" target="_blank" class="icon-instagram"><img src="imagenes/instag.png" alt="instagram"></a></li>
         <li><a href="#"><img src="imagenes/mail.png" alt="gmail"></a></li>

             </ul>

          </div>

</main>  

  <footer>
  	<div class="in" id="inicio">
           
           <h5>Copyright2021</h5>
         </div>
         
      </footer>   

  </body>
  </html>