<!DOCTYPE html >
<html lang="es" xmlns="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<div class="container">
<nav th:replace="fragments :: nav"></nav>

    <h1 th:text="${titulo}"></h1>
    <hr>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#ID turno</th>
        <th scope="col">Fecha</th>
        <th scope="col">Hora</th>
        <th scope="col">Paciente</th>
        <th scope="col">Opciones</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="t : ${listaTurno}">
        <td th:text="${t.id}"></td>
        <td th:text="${t.fecha}"></td>
        <td th:text="${t.hora}"></td>
        <td th:text="|${t.paciente.nombre} ${t.paciente.apellido}|"></td>
        <td>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn"><a th:href="@{/turno/modificar/__${t.id}__}"><i class="fas fa-edit"></i></a></button>


                <form th:action="@{/turno/eliminar/__${t.id}__}" method="post">
                    <button class="btn"  type="submit"><i class="far fa-trash-alt"></i></button>
                </form>
            </div>
        </td>
    </tr>

    </tbody>

</table>
<a th:href="@{/turno/crear}"><button type="button" class="btn btn-outline-success" >Agregar Turno</button></a>

<hr>


</div>

<footer th:replace="fragments :: footer" ></footer>

<div th:replace="fragments :: bootstrapS"></div>
</body>
</html>