<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
  <body>
  <div class="container">
    <nav th:replace="fragments :: nav"></nav>
    <h1 th:text="${titulo}"></h1>
    <hr>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#ID</th>
        <th scope="col">Comentario</th>
        <th scope="col">Fecha</th>
        <th scope="col">Medico</th>
        <th scope="col">Paciente</th>
        <th scope="col">Opciones</th>

      </tr>
      </thead>
      <tbody>
      <tr th:each="s : ${listaSeguimientos}">
        <td th:text="${s.id}"></td>
        <td th:text="${s.comentario}"></td>
        <td th:text="${s.fecha}"></td>
        <td th:text="${s.medico.nombre}"></td>
        <td th:text="${s.paciente.nombre}"></td>
        <td>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button class="btn"><a th:href="@{/seguimiento/modificar/__${s.id}__}"><i class="fas fa-edit"></i></a></button>


          <form th:action="@{/seguimiento/eliminar/__${s.id}__}" method="post">
            <button class="btn"  type="submit"><i class="far fa-trash-alt"></i></button>
          </form>
          </div>
        </td>
      </tr>

      </tbody>
    </table>
    <br>
    <a th:href="@{/seguimiento/crear}"><button type="button" class="btn btn-outline-success" >Agregar seguimiento</button></a>
  </div>

  <div th:replace="fragments :: bootstrapS"></div>
  </body>
</html>
