<!DOCTYPE html >
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>
<body>
<div class="container">
<nav th:replace="fragments :: nav"></nav>
<h1 th:text="${titulo}"></h1>
<hr>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Matricula</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Mail</th>
        <th scope="col">Opciones</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="m : ${listaMedicos}">
        <td th:text="${m.matricula}"></td>
        <td th:text="${m.nombre}"></td>
        <td th:text="${m.apellido}"></td>
        <td th:text="${m.usuario?.mail}"></td>
                <td class="col-md-4 px-md-2 d-flex justify-content-around w-100">
            <a class="btn btn-secondary btn-sm" th:href="@{/medico/editar/__${m.matricula}__}">Editar</a>
            <form th:action="@{/medico/eliminar/__${m.matricula}__}" method="post">
                <button class="btn btn-danger btn-sm" type="submit">Eliminar</button>
            </form>
        </td>
    </tr>

    </tbody>
</table>

<a th:href="@{/medico/crear}"><button type="button" class="btn btn-outline-success" >Agregar Médico</button></a>
</div>


<!--<div th:replace="fragments :: bootstrapS"></div>-->
</body>
</html>