<!DOCTYPE html>
<html lang="es" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
  <body>
  <div class="container">
      <nav th:replace="fragments :: nav"></nav>
      <h1 th:text="${titulo}"></h1>
      <hr>
      <table class="table">
          <thead>
          <tr>
              <th scope="col">DNI</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Fecha de nacimiento</th>
              <th scope="col">Seguimientos</th>
              <th scope="col">Opciones</th>

          </tr>
          </thead>
          <tbody>
          <tr th:each="p : ${listaPacientes}">
              <td th:text="${p.dni}"></td>
              <td th:text="${p.nombre}"></td>
              <td th:text="${p.apellido}"></td>
              <td th:text="${p.nacimiento}"></td>
              <td >
                  <a th:href="@{/seguimiento/listarSeguimiento/__${p.dni}__}">Ver seguimientos</a>
              </td>
              <td>
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                      <button class="btn"><a th:href="@{/paciente/modificar/__${p.dni}__}"><i class="fas fa-edit"></i></a></button>


                      <form th:action="@{/paciente/eliminar/__${p.dni}__}" method="post">
                          <button class="btn"  type="submit"><i class="far fa-trash-alt"></i></button>
                      </form>
                  </div>
              </td>
          </tr>

          </tbody>
      </table>

      <a th:href="@{/paciente/crear}"><button type="button" class="btn btn-outline-success" >Ingresar Paciente</button></a>


  <footer th:replace="fragments :: footer" ></footer>
  </div>
  <div th:replace="fragments :: bootstrapS"></div>
  </body>
</html>
