<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="lista_pacientes.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Lista pacientes</title>
  </head>
  <body>
    <header>
      <img class=logo src="img/logo.png" alt="logo">
    <h2 class="title"> LISTA DE PACIENTES </h2>
  <section class="header-button">
      <a href="index.html" class="button"><span class="fab fa-readme"></span>Lista</a>
  <a href="crear_paciente.html" class="button"><span class="fas fa-edit"></span>Agregar</a>
    <a href="index.html" class="button"><span class="fas fa-home"></span>Inicio</a>
  </section>

</header>


<div class="table-container">
  <table class="table-cebra">
    <thead>
      <tr>
      <th>DNI</th>
      <th>NOMBRE</th>
      <th>APELLIDO</th>
      <th>EDAD</th>
      <th class="fecha">FECHA DE NACIMIENTO</th>
      <th scope="col">ACCIONES</th>
      <tbody>
                  <tr th:each="c : ${paciente}">
                    <td th:text="${dni}"></td>
                    <td th:text="${nombre}"></td>
                    <td th:text="${apellido}"></td>
                    <td th:text="${edad}"></td>
                    <td th:text="${fecha_nacimiento}"></td>
                        
      <td class="col-md-4 px-md-2 d-flex justify-content-around w-100">
                 <a class="btn green" th:href="@{/paciente/modificar/__${dni}__}">Editar</a>
                  <form th:action="@{/paciente/eliminar/__${dni}__}" method="post">
                    <a class="btn red"  type="submit">Eliminar</a>
                 </form>
             </td>
         </tr>

       </tbody>
     </table>

     <a class="btn tm" th:href="@{/paciente/crear}"type="button">AGREGAR PACIENTE</a>



</div>
  </body>
</html>
