<!DOCTYPE html >
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>
<body>
<div class="container">
<nav th:replace="fragments :: nav"></nav>
<h1 th:text="${titulo}"></h1>
<hr>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#ID</th>
        <th scope="col">Usuario</th>
        <th scope="col">Rol</th>
        <th scope="col">Opciones</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="u : ${listaUsuarios}">
        <td th:text="${u.id}"></td>
        <td th:text="${u.username}"></td>
        <td th:text="${u.rol}"></td>
        <td class="col-md-4 px-md-2 d-flex justify-content-around w-100">
            <a class="btn btn-secondary btn-sm" th:href="@{/usuario/modificar/__${u.id}__}">Editar</a>
            <form th:action="@{/usuario/eliminar/__${u.id}__}" method="post">
                <button class="btn btn-danger btn-sm" type="submit">Eliminar</button>
            </form>
        </td>
    </tr>

    </tbody>
</table>
<br>
<a th:href="@{/usuario/crear}"><button type="button" class="btn btn-outline-success" >Agregar Usuario</button></a>
</div>


<!--<div th:replace="fragments :: bootstrapS"></div>-->
</body>
</html>
