<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/css/lista_pacientes.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Lista pacientes</title>
  </head>
  <body>
    <header>
      <img class=logo th:src="@{/img/logo.png}" alt="logo">
    <h2 class="title">SEGUIMIENTO DE PACIENTES </h2>
  <!--Poner navbar de fragments, quitar botones header --> 
      <section class="header-button">
      <a href="lista_pacientes.html" class="button"><span class="fab fa-readme"></span>Lista</a>
  <a href="crear_seguimiento.html" class="button"><span class="fas fa-edit"></span>ficha</a>
    <a href="index.html" class="button"><span class="fas fa-home"></span>Inicio</a>
  </section>

</header>


<div class="table-container">
  <table class="table-cebra">
    <thead>
      <tr>
      <th>ID</th>
      <th>COMENTARIO</th>
      <th>FECHA</th>
      <th>Paciente</th>
      <th class="fecha">MEDICO</th>
      <th scope="col">ACCIONES</th>
      <tbody>
                  <tr th:each="s : ${listaSeguimientos}">
                    <td th:text="${s.id}"></td>
                    <td th:text="${s.comentario}"></td>
                    <td th:text="${s.fecha}"></td>
                    <td th:text="${s.paciente?.nombre}"></td>
                    <td th:text="${s.medico.nombre}"></td>

      <td class="col-md-4 px-md-2 d-flex justify-content-around w-100">
                 <a class="btn green" th:href="@{/seguimiento/modificar/__${s.id}__}">Editar</a>
                  <form th:action="@{/seguimiento/eliminar/__${s.id}__}" method="post">
                    <button class="btn btn-warning"  type="submit">Eliminar</button>
                 </form>
             </td>
         </tr>

       </tbody>
     </table>

    <a th:href="@{/seguimiento/crear}"><button type="button" class="btn btn-outline-success" >Agregar seguimiento</button></a>



</div>
  </body>
</html>
