<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/css/lista_roles.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Lista roles</title>
  </head>
  <body>
    <header>
      <img class=logo th:src="@{/img/logo.png}" alt="logo">
    <h2 class="title">LISTA DE ROLES </h2>
  <section class="header-button">
      <a th:href="@{/rol}" class="button"><span class="fab fa-readme"></span>Lista</a>
  <a th:href="@{/rol/crear}" class="button"><span class="fas fa-edit"></span>crear roles</a>
    <a th:href="@{/}" class="button"><span class="fas fa-home"></span>Inicio</a>
  </section>

</header>


<div class="table-container">
  <table class="table-cebra">
    <thead>
      <tr>
      <th>ID</th>
      <th>NOMBRE</th>
      <th scope="col">ACCIONES</th>
      <tbody>

                  <tr th:each="c : ${roles}">
                    <td th:text="${id}"></td>
                    <td th:text="${nombre}"></td>

      <td class="col-md-4 px-md-2 d-flex justify-content-around w-100">
                 <a class="btn green" th:href="@{/rol/modificar/__${id}__}">Editar</a>
                  <form th:action="@{/rol/eliminar/__${id}__}" method="post">
                    <a class="btn red"  type="submit">Eliminar</a>
                 </form>
             </td>
         </tr>

       </tbody>
     </table>

     <a class="btn tm" th:href="@{/roles/crear}" type="button">AGREGAR </a>



</div>
  </body>
</html>
