<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmnls:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: head"></head>
  <body>
  <div class="container">
      <nav th:replace="fragments :: nav"></nav>
      <h1 th:text="${titulo}"></h1>
      <hr>
      <table class="table">
          <thead>
          <tr>
              <th scope="col">ID</th>
              <th scope="col">Nombre</th>
              <th scope="col">Opciones</th>

          </tr>
          </thead>
          <tbody>
          <tr th:each="r : ${listaRoles}">
              <td th:text="${r.id}"></td>
              <td th:text="${r.nombre}"></td>
              <td>
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                      <button class="btn"><a th:href="@{/rol/modificar/__${r.id}__}"><i class="fas fa-edit"></i></a></button>


                      <form th:action="@{/rol/eliminar/__${r.id}__}" method="post">
                          <button class="btn"  type="submit"><i class="far fa-trash-alt"></i></button>
                      </form>
                  </div>
              </td>
          </tr>

          </tbody>
      </table>

      <a th:href="@{/rol/crear}"><button type="button" class="btn btn-outline-success" >Crear Rol</button></a>
  </div>
  <div th:replace="fragments :: bootstrapS"></div>
  </body>
</html>
