<!DOCTYPE html>
<html lang="es" dir="ltr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
      <link rel="stylesheet" th:href="@{/css/lista_pacientes.css}">
    <title>Lista pacientes</title>
  </head>
  <body>
    <header>
      <img class=logo th:src="@{/img/logo.png}" alt="logo">
    <h2 class="title"> LISTA DE PACIENTES </h2>
  <section class="header-button">
      <a th:href="@{/paciente}" class="button"><span class="fab fa-readme"></span>Lista</a>
  <a th:href="@{/paciente/crear}" class="button"><span class="fas fa-edit"></span>Agregar</a>
    <a th:href="@{/}" class="button"><span class="fas fa-home"></span>Inicio</a>
  </section>

</header>


<div class="table-container">
  <table class="table-cebra">
    <thead>
      <tr>
      <th>DNI</th>
      <th>NOMBRE</th>
      <th>APELLIDO</th>
      <th>EDAD</th>
      <th class="fecha">FECHA DE NACIMIENTO</th>
      <th scope="col">ACCIONES</th>
      <tbody>
                  <tr th:each="c : ${listaPacientes}">
                    <td th:text="${c.dni}"></td>
                    <td th:text="${c.nombre}"></td>
                    <td th:text="${c.apellido}"></td>
                    <td th:text="${c.edad}"></td>
                    <td th:text="${c.nacimiento}"></td>
                        
      <td class="col-md-4 px-md-2 d-flex justify-content-around w-100">
                 <a class="btn green" th:href="@{/paciente/modificar/__${c.dni}__}">Editar</a>
                  <form th:action="@{/paciente/eliminar/__${c.dni}__}" method="POST">
                    <button class="btn red"  type="submit">Eliminar</button>
                 </form>
             </td>
         </tr>

       </tbody>
     </table>

     <a class="btn tm" th:href="@{/paciente/crear}" type="button">AGREGAR PACIENTE</a>



</div>
  </body>
</html>
