<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title th:text="titulo"></title>
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">

</head>
<body>
    <div id="login">

    <img class=logo src="img/logo.png" alt="logo">

      <form  th:action="@{/login}" method="post" >
        <span class="fontawesome-user"></span>
          <input th:field="*{username}" type="text" id="user" placeholder="Username">

        <span class="fontawesome-lock"></span>
          <input th:field="*{password}" type="password" id"pass" placeholder="Password">

        <button class="btn btn-primary" type="submit">Login</button>
        
</form>
      </div>
</body>
  </html>  
